.content{
    background-color: pink;
    width: 1000px;
    margin: 0 auto;
}

.post{
    width: 1000px;
    height: 180px;
    margin: 20px 0;
}

.post img{
    width: 100%;
    height: 100%;
}

h3.activity-name{
    font-size: 26px;
    color: #ff7430;
}

.activity-main{
    width: 920px;
    height: 300px;
    border: 4px solid #ddd;
    border-top: 10px solid #97bbcd;
    border-bottom: 3px solid #ddd;
    padding: 36px;
    background-color: skyblue;
}