.main {
    width: 1000px;
    margin: 0 auto;
}

.bandShow {
    width: 960px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fffefc;
}

.leftVideo {
    width: 405px;
    height: 130px;
    margin-top: 10px;
    float: left;
}

.leftVideo a {
    display: inline-block;
    width: 200px;
    height: 130px;
}

.bandRight {
    width: 550px;
    margin-left: 5px;
    float: left;
}

.bandRight p {
    font-size: 14px;
    text-indent: 2em;
    margin-bottom: 5px;
}

.bandRight span {
    display: inline-block;
    margin: 5px 10px 0 0;
    font-size: 16px;
    color: #000;
}

.bandRight a {
    display: inline-block;
    width: 94px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: #33c9ec;
}

.blueBand {
    width: 160px;
    height: 40px;
    margin-top: 15px;
    background-color: #015daa;
}

.blueBand > p {
    font-size: 18px;
    color: #fff;
    line-height: 40px;
}

.blueBand > p > img {
    position: relative;
    top: 2px;
    margin: 0 10px;
}

.youhui {
    background-color: #fefafa;
    width: 980px;
    padding: 10px;
}

.youhui > ul {
    width: 980px;
    height: 400px;
}

.youhui > ul > li {
    width: 180px;
    height: 185px;
    margin: 0 8px 5px 8px;
    float: left;
}

.youhui > ul > li img {
    width: 100%;
    height: 140px;
}

.youhui > ul > li > p {
    font-size: 14px;
}

#page {
    margin-bottom: 20px;
}

table {
    color: #fff;
}

td, th {
    border: 1px solid #fff;
}

th {
    height: 80px;
}

td {
    height: 34px;
}

.num, .nums, .prices, .price {
    width: 110px;
    line-height: 34px;
    text-align: center;
    background-color: #0092df;
}

.nums, .prices {
    line-height: 80px;
}

.price, .prices {
    background-color: #31b2eb;
}

.lecture, .lectures {
    width: 110px;
    line-height: 34px;
    color: #000;
    text-align: center;
    background-color: #94d0f4;
}

.lectures {
    line-height: 80px;
}

.info, .infos {
    width: 500px;
    text-align: center;
    position: relative;
    background-color: #0092df;
}

.infos > p {
    color: #fed909;
    font-weight: 100;
}

.info {
    /*border-bottom: 2px solid red;*/
}

.info * {
    float: left;
}

.info .discount {
    width: 100px;
    height: 24px;
    border-radius: 4px;
    color: #ff7c26;
    padding: 0 20px;
    margin-left: 20px;
    text-align: center;
    line-height: 24px;
    display: inline-block;
    background-color: #fff;
    float: left;
}

.info .input {
    width: 120px;
    height: 24px;
    margin-left: 20px;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
}

.input input {
    position: absolute;
    width: 68px;
    height: 16px;
    text-align: center;
    padding: 4px 10px;
    left: 0;
    top: 0;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #000;
}

.input .up {
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
}

.input .down {
    position: absolute;
    bottom: 3px;
    right: 8px;
    cursor: pointer;
}

.info .discountFree {
    width: 120px;
    height: 24px;
    padding: 0 20px;
    border-radius: 4px;
    margin-left: 20px;
    text-align: center;
    background-color: #ff7c26;
}

.result, .results {
    width: 164px;
    background-color: #94d0f4;
    line-height: 34px;
    text-align: center;
}

.results > h4 {
    color: #000;
}

.results > p {
    color: #fd0101;
    font-weight: 100;
    line-height: 20px;
    font-size: 14px;
}

.over{
    width: 140px;
    height: 55px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: #fff;
}

.disOver{
    height: 25px;
    line-height: 25px;
    font-weight: 700;
    color: #fd1800;
}

.allOver{
    height: 30px;
    line-height: 30px;
    color: #000;
}

.btn{
    width: 140px;
    height: 30px;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #ff7c26;
    
}